{
  "openapi": "3.0.1",
  "info": {
    "title": "Nerdcave API",
    "description": "",
    "version": "1.0.0"
  },
  "externalDocs": {
    "description": "Find out more about Swagger",
    "url": "http://swagger.io"
  },
  "servers": [
    {
      "url": "https://www.nerdcave.club"
    },
    {
      "url": "http://localhost:8080"
    }
  ],
  "tags": [
    {
      "name": "admin_account",
      "description": "Admin - Account operations"
    },
    {
      "name": "admin_member",
      "description": "Admin - Member operations"
    },
    {
      "name": "admin_order",
      "description": "Admin - Order operations"
    },
    {
      "name": "admin_product",
      "description": "Admin - Product operations"
    },
    {
      "name": "admin_branch",
      "description": "Admin - Branch operations"
    },
    {
      "name": "admin_holiday",
      "description": "Admin - Holiday operations"
    },
    {
      "name": "admin_notification",
      "description": "Admin - Notification operations"
    },
    {
      "name": "admin_checkIn",
      "description": "Admin - CheckIn operations"
    },
    {
      "name": "login",
      "description": "Login operation"
    },
    {
      "name": "member",
      "description": "Member info"
    },
    {
      "name": "product",
      "description": "nerdcave product"
    },
    {
      "name": "payment",
      "description": "wechat payment"
    },
    {
      "name": "offlineorder",
      "description": "线下订单"
    },
    {
      "name": "branch",
      "description": "分店信息"
    },
    {
      "name": "checkIn",
      "description": "用户打卡"
    },
    {
      "name": "disclaimer",
      "description": "memeber disclaimer"
    },
    {
      "name": "notification",
      "description": "通知"
    },
    {
      "name": "holiday",
      "description": "Holiday"
    }
  ],
  "paths": {
    "/admin/login": {
      "post": {
        "tags": [
          "admin_account"
        ],
        "summary": "Admin Login with username password",
        "operationId": "admin login",
        "requestBody": {
          "description": "Admin Login",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdminLoginRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "successful login",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminInfo"
                }
              }
            }
          },
          "401": {
            "description": "login failed"
          }
        }
      }
    },
    "/admin/accounts": {
      "get": {
        "tags": [
          "admin_account"
        ],
        "summary": "Get all admin accounts - can only be called by SUPER_USER",
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                },
                "example": [
                  {
                    "id": "5e6cea82e357225ab0ddbaab",
                    "username": "admin",
                    "nickname": "RY",
                    "role": "SUPER_USER",
                    "status": "ACTIVE",
                    "creationTime": "20200314223026"
                  },
                  {
                    "id": "5e6cea82e357225ab0ddbaa2",
                    "username": "admin",
                    "nickname": "LI",
                    "role": "BRANCH_MAINTAINER",
                    "status": "ACTIVE",
                    "creationTime": "20200313223026"
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/admin/account": {
      "post": {
        "tags": [
          "admin_account"
        ],
        "summary": "Create new admin account - can only be called by SUPER_USER",
        "requestBody": {
          "description": "Admin account detail",
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "username": "ry_account",
                "password": "1234",
                "nickName": "RY",
                "role": "SUPER_USER"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/admin/account/updatepassword": {
      "post": {
        "tags": [
          "admin_account"
        ],
        "summary": "Update admin account password",
        "description": "SUPER_USER can update all accounts. BRANCH_MAINTAINER can only update their own password.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "examples": {
                "UpdateOwn": {
                  "summary": "Update own password",
                  "value": {
                    "newPassword": "123"
                  }
                },
                "UpdateOther": {
                  "summary": "SUPER_USER updates other's password",
                  "value": {
                    "id": "456",
                    "newPassword": "123"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/admin/account/updaterole": {
      "post": {
        "tags": [
          "admin_account"
        ],
        "summary": "Update admin account role",
        "description": "only SUPER_USER can update admin account role",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "examples": {
                "SUPER_USER": {
                  "value": {
                    "id": "234",
                    "role": "SUPER_USER"
                  }
                },
                "BRANCH_MAINTAINER": {
                  "value": {
                    "id": "234",
                    "role": "BRANCH_MAINTAINER"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/admin/account/updatestatus": {
      "post": {
        "tags": [
          "admin_account"
        ],
        "summary": "Update admin account status",
        "description": "only SUPER_USER can update admin account status",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "examples": {
                "ACTIVE": {
                  "value": {
                    "id": "234",
                    "status": "ACTIVE"
                  }
                },
                "DISABLED": {
                  "value": {
                    "id": "234",
                    "status": "DISABLED"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/admin/members": {
      "get": {
        "tags": [
          "admin_member"
        ],
        "summary": "Admin - Fetch members",
        "operationId": "admin fetch member",
        "parameters": [
          {
            "name": "start",
            "in": "query",
            "description": "Start index (sorted by registration time)",
            "required": true,
            "example": 0,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "count",
            "in": "query",
            "description": "Number of members to fetch (sorted by registration time)",
            "required": true,
            "example": 5,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "examples": {
                  "YearlyMember": {
                    "value": {
                      "id": "5e67a04ab593d05c529a03f9",
                      "wechatNickName": "Elon Musk",
                      "legalName": null,
                      "contactNumber": null,
                      "emergentContactNumber": null,
                      "memberDetail": {
                        "validFrom": "20200317",
                        "validUntil": "20210316",
                        "memberType": "YEARLY"
                      }
                    }
                  },
                  "MonthlyMember": {
                    "value": {
                      "id": "5e67a04ab593d05c529a03f9",
                      "wechatNickName": "Elon Musk",
                      "legalName": "Paul Smith",
                      "contactNumber": "1361234567",
                      "emergentContactNumber": "1361234568",
                      "memberDetail": {
                        "validFrom": "20200317",
                        "validUntil": "20210316",
                        "memberType": "MONTHLY"
                      }
                    }
                  },
                  "NormalMember": {
                    "value": {
                      "id": "5e67a04ab593d05c529a03f9",
                      "wechatNickName": "Elon Musk",
                      "legalName": "Paul Smith",
                      "contactNumber": "1361234567",
                      "emergentContactNumber": "1361234568",
                      "memberDetail": {
                        "memberType": "NORMAL"
                      }
                    }
                  },
                  "MultiEntriesMember": {
                    "value": {
                      "id": "5e67a04ab593d05c529a03f9",
                      "wechatNickName": "Elon Musk",
                      "legalName": "Paul Smith",
                      "contactNumber": "1361234567",
                      "emergentContactNumber": "1361234568",
                      "memberDetail": {
                        "validFrom": "20200317",
                        "validUntil": "20210316",
                        "usedEntries": 5,
                        "totalEntries": 10,
                        "memberType": "MULTI_ENTRIES"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/admin/members/download": {
      "get": {
        "tags": [
          "admin_member"
        ],
        "summary": "Admin - Download members csv",
        "description": "only SUPER_USER role can make this request",
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "text/csv": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "unauthorized"
          },
          "403": {
            "description": "forbidden"
          }
        }
      }
    },
    "/admin/member/{memberId}": {
      "put": {
        "tags": [
          "admin_member"
        ],
        "summary": "Admin - Update member",
        "operationId": "admin update member",
        "description": "only SUPER_USER role can make this request",
        "parameters": [
          {
            "name": "memberId",
            "in": "path",
            "description": "member Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "update member request body",
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "examples": {
                "YearlyMember": {
                  "value": {
                    "legalName": "Paul Smith",
                    "contactNumber": "1361234567",
                    "emergentContactNumber": "1361234568",
                    "memberDetail": {
                      "validFrom": "20200317",
                      "validUntil": "20210316",
                      "memberType": "YEARLY"
                    }
                  }
                },
                "MonthlyMember": {
                  "value": {
                    "legalName": "Paul Smith",
                    "contactNumber": "1361234567",
                    "emergentContactNumber": "1361234568",
                    "memberDetail": {
                      "validFrom": "20200317",
                      "validUntil": "20210316",
                      "memberType": "MONTHLY"
                    }
                  }
                },
                "NormalMember": {
                  "value": {
                    "legalName": "Paul Smith",
                    "contactNumber": "1361234567",
                    "emergentContactNumber": "1361234568",
                    "memberDetail": {
                      "memberType": "NORMAL"
                    }
                  }
                },
                "MultiEntriesMember": {
                  "value": {
                    "legalName": "Paul Smith",
                    "contactNumber": "1361234567",
                    "emergentContactNumber": "1361234568",
                    "memberDetail": {
                      "validFrom": "20200317",
                      "validUntil": "20210316",
                      "usedEntries": 5,
                      "totalEntries": 10,
                      "memberType": "MULTI_ENTRIES"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "unauthorized"
          },
          "403": {
            "description": "forbidden"
          }
        }
      }
    },
    "/admin/orders": {
      "get": {
        "tags": [
          "admin_order"
        ],
        "summary": "Get all orders",
        "operationId": "admin orders",
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                },
                "examples": {
                  "OFFLINE_ORDER_UNAPPROVED": {
                    "value": {
                      "id": "5e70dbf3057201388c5716a3",
                      "memberName": "Paul Smith",
                      "contactNumber": "1361234567",
                      "time": "20200317221723",
                      "productType": "YEARLY_MEMBER_FEE",
                      "description": "年卡",
                      "branchName": "NC 1",
                      "orderType": "OFFLINE",
                      "status": "UNAPPROVED",
                      "approvalInfo": null
                    }
                  },
                  "OFFLINE_ORDER_APPROVED": {
                    "value": {
                      "id": "5e67a164b593d05c529a03fa",
                      "memberName": "Paul Smith",
                      "contactNumber": "1361234567",
                      "time": "20200310221708",
                      "productType": "MULTI_ENTRIES_FEE",
                      "description": "Product-1 10 entries",
                      "branchName": "id-5e4024b000653065cc851f8f",
                      "orderType": "OFFLINE",
                      "status": "APPROVED",
                      "approvalInfo": {
                        "approverId": "123",
                        "approverName": "Admin 1",
                        "time": "20200310224132"
                      }
                    }
                  },
                  "WX_ORDER_COMPLTED": {
                    "value": {
                      "id": "5e6e43308d43c85e3fa0fcb9",
                      "memberName": "Paul Smith",
                      "contactNumber": "1361234567",
                      "time": "20200315230104",
                      "productType": "SINGLE_ENTRY_FEE",
                      "description": "单次票",
                      "branchName": "NC 1",
                      "orderType": "WECHAT",
                      "status": "WX_PAYMENT_COMPLETED",
                      "approvalInfo": null
                    }
                  },
                  "WX_ORDER_PENDING_PAYMENT": {
                    "value": {
                      "id": "5e6e43308d43c85e3fa0fcb9",
                      "memberName": "Paul Smith",
                      "contactNumber": "1361234567",
                      "time": "20200315230104",
                      "productType": "EQUIPMENT_RENTAL_FEE",
                      "description": "租鞋子",
                      "branchName": "NC 1",
                      "orderType": "WECHAT",
                      "status": "PENDING_WX_PAYMENT",
                      "approvalInfo": null
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/admin/orders/{startTime}": {
      "get": {
        "tags": [
          "admin_order"
        ],
        "summary": "Get orders from startTime(inclusive)",
        "operationId": "admin orders from startTime",
        "parameters": [
          {
            "name": "startTime",
            "in": "path",
            "description": "start time inclusive",
            "required": true,
            "example": "20200317221723",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                },
                "examples": {
                  "OFFLINE_ORDER_UNAPPROVED": {
                    "value": {
                      "id": "5e70dbf3057201388c5716a3",
                      "memberName": "Paul Smith",
                      "contactNumber": "1361234567",
                      "time": "20200317221723",
                      "productType": "YEARLY_MEMBER_FEE",
                      "description": "年卡",
                      "branchName": "NC 1",
                      "orderType": "OFFLINE",
                      "status": "UNAPPROVED",
                      "approvalInfo": null
                    }
                  },
                  "OFFLINE_ORDER_APPROVED": {
                    "value": {
                      "id": "5e67a164b593d05c529a03fa",
                      "memberName": "Paul Smith",
                      "contactNumber": "1361234567",
                      "time": "20200310221708",
                      "productType": "MULTI_ENTRIES_FEE",
                      "description": "Product-1 10 entries",
                      "branchName": "id-5e4024b000653065cc851f8f",
                      "orderType": "OFFLINE",
                      "status": "APPROVED",
                      "approvalInfo": {
                        "approverId": "123",
                        "approverName": "Admin 1",
                        "time": "20200310224132"
                      }
                    }
                  },
                  "WX_ORDER_COMPLTED": {
                    "value": {
                      "id": "5e6e43308d43c85e3fa0fcb9",
                      "memberName": "Paul Smith",
                      "contactNumber": "1361234567",
                      "time": "20200315230104",
                      "productType": "SINGLE_ENTRY_FEE",
                      "description": "单次票",
                      "branchName": "NC 1",
                      "orderType": "WECHAT",
                      "status": "WX_PAYMENT_COMPLETED",
                      "approvalInfo": null
                    }
                  },
                  "WX_ORDER_PENDING_PAYMENT": {
                    "value": {
                      "id": "5e6e43308d43c85e3fa0fcb9",
                      "memberName": "Paul Smith",
                      "contactNumber": "1361234567",
                      "time": "20200315230104",
                      "productType": "EQUIPMENT_RENTAL_FEE",
                      "description": "租鞋子",
                      "branchName": "NC 1",
                      "orderType": "WECHAT",
                      "status": "PENDING_WX_PAYMENT",
                      "approvalInfo": null
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/admin/orders/{startTime}/{endTime}": {
      "get": {
        "tags": [
          "admin_order"
        ],
        "summary": "Get orders from startTime(inclusive) to endTime(exclusive)",
        "operationId": "admin orders from startTime to endTime",
        "parameters": [
          {
            "name": "startTime",
            "in": "path",
            "description": "start time inclusive",
            "required": true,
            "example": "20200317221723",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "endTime",
            "in": "path",
            "description": "start time inclusive",
            "required": true,
            "example": "20200318221723",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                },
                "examples": {
                  "OFFLINE_ORDER_UNAPPROVED": {
                    "value": {
                      "id": "5e70dbf3057201388c5716a3",
                      "memberName": "Paul Smith",
                      "contactNumber": "1361234567",
                      "time": "20200317221723",
                      "productType": "YEARLY_MEMBER_FEE",
                      "description": "年卡",
                      "branchName": "NC 1",
                      "orderType": "OFFLINE",
                      "status": "UNAPPROVED",
                      "approvalInfo": null
                    }
                  },
                  "OFFLINE_ORDER_APPROVED": {
                    "value": {
                      "id": "5e67a164b593d05c529a03fa",
                      "memberName": "Paul Smith",
                      "contactNumber": "1361234567",
                      "time": "20200310221708",
                      "productType": "MULTI_ENTRIES_FEE",
                      "description": "Product-1 10 entries",
                      "branchName": "id-5e4024b000653065cc851f8f",
                      "orderType": "OFFLINE",
                      "status": "APPROVED",
                      "approvalInfo": {
                        "approverId": "123",
                        "approverName": "Admin 1",
                        "time": "20200310224132"
                      }
                    }
                  },
                  "WX_ORDER_COMPLTED": {
                    "value": {
                      "id": "5e6e43308d43c85e3fa0fcb9",
                      "memberName": "Paul Smith",
                      "contactNumber": "1361234567",
                      "time": "20200315230104",
                      "productType": "SINGLE_ENTRY_FEE",
                      "description": "单次票",
                      "branchName": "NC 1",
                      "orderType": "WECHAT",
                      "status": "WX_PAYMENT_COMPLETED",
                      "approvalInfo": null
                    }
                  },
                  "WX_ORDER_PENDING_PAYMENT": {
                    "value": {
                      "id": "5e6e43308d43c85e3fa0fcb9",
                      "memberName": "Paul Smith",
                      "contactNumber": "1361234567",
                      "time": "20200315230104",
                      "productType": "EQUIPMENT_RENTAL_FEE",
                      "description": "租鞋子",
                      "branchName": "NC 1",
                      "orderType": "WECHAT",
                      "status": "PENDING_WX_PAYMENT",
                      "approvalInfo": null
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/admin/orders/download": {
      "get": {
        "tags": [
          "admin_order"
        ],
        "summary": "Admin - Download all orders csv",
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "text/csv": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "unauthorized"
          }
        }
      }
    },
    "/admin/offlineorder/approve": {
      "post": {
        "tags": [
          "admin_order"
        ],
        "summary": "Admin - Approve offline order",
        "description": "Approve offline order",
        "operationId": "Approve offline order",
        "requestBody": {
          "description": "Approve offline order",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApproveOfflineOrderRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "ok"
          },
          "401": {
            "description": "unauthorized"
          }
        }
      }
    },
    "/admin/products/": {
      "get": {
        "tags": [
          "admin_product"
        ],
        "summary": "Admin - Get all products",
        "operationId": "Admin get products",
        "responses": {
          "200": {
            "description": "succeeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/admin/product/": {
      "post": {
        "tags": [
          "admin_product"
        ],
        "summary": "Admin - Create product",
        "operationId": "Admin creates product",
        "requestBody": {
          "description": "Product info",
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/MultiEntriesProduct"
                  },
                  {
                    "$ref": "#/components/schemas/MonthlyMemberProduct"
                  },
                  {
                    "$ref": "#/components/schemas/YearlyMemberProduct"
                  },
                  {
                    "$ref": "#/components/schemas/EquipmentRentalProduct"
                  },
                  {
                    "$ref": "#/components/schemas/SingleEntryProduct"
                  }
                ]
              },
              "examples": {
                "MultiEntriesProduct": {
                  "value": {
                    "name": "10次票",
                    "description": "Product-1 10 entries",
                    "productType": "MULTI_ENTRIES_FEE",
                    "detail": {
                      "productType": "MULTI_ENTRIES_FEE",
                      "entries": 10,
                      "validMonths": 3
                    },
                    "discounts": [],
                    "regularPrice": 200,
                    "payViaWechat": false,
                    "enabled": true
                  }
                },
                "MonthlyMemberProduct": {
                  "value": {
                    "name": "月卡",
                    "description": "Product-2 1 month",
                    "productType": "MONTHLY_MEMBER_FEE",
                    "detail": {
                      "productType": "MONTHLY_MEMBER_FEE",
                      "months": 1
                    },
                    "discounts": [],
                    "regularPrice": 400,
                    "payViaWechat": false,
                    "enabled": true
                  }
                },
                "YearlyMmeberProduct": {
                  "value": {
                    "name": "年卡",
                    "description": "Product-3 1 year",
                    "productType": "YEARLY_MEMBER_FEE",
                    "detail": {
                      "productType": "YEARLY_MEMBER_FEE",
                      "years": 1
                    },
                    "discounts": [],
                    "regularPrice": 600,
                    "payViaWechat": false,
                    "enabled": true
                  }
                },
                "SingleEntryProduct": {
                  "value": {
                    "name": "单次票",
                    "description": "Single entry",
                    "productType": "SINGLE_ENTRY_FEE",
                    "detail": {
                      "productType": "SINGLE_ENTRY_FEE"
                    },
                    "discounts": [
                      {
                        "discountType": "WEEK_DAY",
                        "description": "0.01 CNY weekday discount",
                        "detail": {
                          "discountType": "WEEK_DAY",
                          "salePrice": 1
                        }
                      }
                    ],
                    "regularPrice": 200,
                    "payViaWechat": true,
                    "enabled": true
                  }
                },
                "EquipmentRentalProduct": {
                  "value": {
                    "name": "租鞋子",
                    "description": "Boot rentail",
                    "productType": "EQUIPMENT_RENTAL_FEE",
                    "detail": {
                      "productType": "EQUIPMENT_RENTAL_FEE"
                    },
                    "discounts": [],
                    "regularPrice": 1,
                    "payViaWechat": true,
                    "enabled": true
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "succeeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/admin/product/{productId}": {
      "put": {
        "tags": [
          "admin_product"
        ],
        "summary": "Admin - Update product",
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "description": "product Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/MultiEntriesProduct"
                  },
                  {
                    "$ref": "#/components/schemas/MonthlyMemberProduct"
                  },
                  {
                    "$ref": "#/components/schemas/YearlyMemberProduct"
                  },
                  {
                    "$ref": "#/components/schemas/EquipmentRentalProduct"
                  },
                  {
                    "$ref": "#/components/schemas/SingleEntryProduct"
                  }
                ]
              },
              "examples": {
                "MultiEntriesProduct": {
                  "value": {
                    "name": "10次票",
                    "description": "Product-1 10 entries",
                    "productType": "MULTI_ENTRIES_FEE",
                    "detail": {
                      "productType": "MULTI_ENTRIES_FEE",
                      "entries": 10,
                      "validMonths": 3
                    },
                    "discounts": [],
                    "regularPrice": 200,
                    "payViaWechat": false,
                    "enabled": true
                  }
                },
                "MonthlyMemberProduct": {
                  "value": {
                    "id": "cd758880-a397-4140-91f0-84af74402c5d",
                    "name": "月卡",
                    "description": "Product-2 1 month",
                    "productType": "MONTHLY_MEMBER_FEE",
                    "detail": {
                      "productType": "MONTHLY_MEMBER_FEE",
                      "months": 1
                    },
                    "discounts": [],
                    "regularPrice": 400,
                    "payViaWechat": false,
                    "enabled": true
                  }
                },
                "YearlyMmeberProduct": {
                  "value": {
                    "id": "23a5d6f6-9bf9-4318-9d39-4e5862dde29b",
                    "name": "年卡",
                    "description": "Product-3 1 year",
                    "productType": "YEARLY_MEMBER_FEE",
                    "detail": {
                      "productType": "YEARLY_MEMBER_FEE",
                      "years": 1
                    },
                    "discounts": [],
                    "regularPrice": 600,
                    "payViaWechat": false,
                    "enabled": true
                  }
                },
                "SingleEntryProduct": {
                  "value": {
                    "id": "5e636b68fbc51c3035c20f6d",
                    "name": "单次票",
                    "description": "Single entry",
                    "productType": "SINGLE_ENTRY_FEE",
                    "detail": {
                      "productType": "SINGLE_ENTRY_FEE"
                    },
                    "discounts": [
                      {
                        "discountType": "WEEK_DAY",
                        "description": "0.01 CNY weekday discount",
                        "detail": {
                          "discountType": "WEEK_DAY",
                          "salePrice": 1
                        }
                      }
                    ],
                    "regularPrice": 200,
                    "payViaWechat": true,
                    "enabled": true
                  }
                },
                "EquipmentRentalProduct": {
                  "value": {
                    "id": "9b38442f-efd0-43c1-97cb-f43f7d9e3ec4",
                    "name": "租鞋子",
                    "description": "Boot rentail",
                    "productType": "EQUIPMENT_RENTAL_FEE",
                    "detail": {
                      "productType": "EQUIPMENT_RENTAL_FEE"
                    },
                    "discounts": [],
                    "regularPrice": 1,
                    "payViaWechat": true,
                    "enabled": true
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "succeeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/admin/branches/": {
      "get": {
        "tags": [
          "admin_branch"
        ],
        "summary": "Admin - Get all branches",
        "operationId": "Admin get branches",
        "responses": {
          "200": {
            "description": "succeeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/admin/branch/": {
      "post": {
        "tags": [
          "admin_branch"
        ],
        "summary": "Admin - Create branch",
        "operationId": "Admin creates branch",
        "requestBody": {
          "description": "Branch info",
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "name": "NC 1",
                "location": {
                  "longitude": 100,
                  "latitude": 100,
                  "description": "Wingwah building"
                },
                "weekdayOpenHour": {
                  "openTime": "090000",
                  "closeTime": "210000",
                  "description": "朝九晚九"
                },
                "holidayOpenHour": {
                  "openTime": "090000",
                  "closeTime": "230000",
                  "description": "朝九晚十"
                },
                "contactNumbers": [
                  "53406506"
                ],
                "description": "branch 1",
                "active": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "succeeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/admin/branch/{branchId}": {
      "put": {
        "tags": [
          "admin_branch"
        ],
        "summary": "Admin - Update branch",
        "parameters": [
          {
            "name": "branchId",
            "in": "path",
            "description": "branchId Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "name": "NC 1",
                "location": {
                  "longitude": 100,
                  "latitude": 100,
                  "description": "Wingwah building"
                },
                "weekdayOpenHour": {
                  "openTime": "090000",
                  "closeTime": "210000",
                  "description": "朝九晚九"
                },
                "holidayOpenHour": {
                  "openTime": "090000",
                  "closeTime": "230000",
                  "description": "朝九晚十"
                },
                "contactNumbers": [
                  "53406506"
                ],
                "description": "branch 1",
                "active": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "succeeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/admin/branch/manualstatus/{branchId}/{date}": {
      "get": {
        "tags": [
          "admin_branch"
        ],
        "parameters": [
          {
            "name": "branchId",
            "in": "path",
            "description": "Branch Id",
            "required": true,
            "example": 123,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date",
            "in": "path",
            "description": "Date",
            "example": 20200315,
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "summary": "Admin - Get manually set status",
        "operationId": "Admin Get manually set status",
        "responses": {
          "200": {
            "description": "succeeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "examples": {
                  "Open": {
                    "value": {
                      "branchId": "5e6e38305653854644c1fa72",
                      "date": "20200321",
                      "status": "OPEN"
                    }
                  },
                  "Closed": {
                    "value": {
                      "branchId": "5e6e38305653854644c1fa72",
                      "date": "20200321",
                      "status": "Closed"
                    }
                  },
                  "Unset": {
                    "value": {
                      "branchId": "5e6e38305653854644c1fa72",
                      "date": "20200322",
                      "status": "UNSET"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "admin_branch"
        ],
        "parameters": [
          {
            "name": "branchId",
            "in": "path",
            "description": "Branch Id",
            "required": true,
            "example": 123,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date",
            "in": "path",
            "description": "Date",
            "example": 20200315,
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Manual set status",
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "examples": {
                "Open": {
                  "value": {
                    "status": "Open"
                  }
                },
                "Closed": {
                  "value": {
                    "status": "Closed"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "succeeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/admin/holiday": {
      "get": {
        "tags": [
          "admin_holiday"
        ],
        "summary": "Admin - Get holidays",
        "operationId": "Admin get holidays",
        "parameters": [
          {
            "name": "year",
            "in": "query",
            "description": "year",
            "required": true,
            "example": 2020,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "example": {
                  "value": [
                    "20200101",
                    "20200501",
                    "20201001"
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "admin_holiday"
        ],
        "summary": "Admin - Add holiday",
        "operationId": "Admin add holiday",
        "requestBody": {
          "description": "Add holiday request boday",
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "value": {
                  "date": 20200315
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/admin/holiday/{date}": {
      "delete": {
        "tags": [
          "admin_holiday"
        ],
        "summary": "Admin - Delete holiday",
        "operationId": "Admin delete holiday",
        "parameters": [
          {
            "name": "date",
            "in": "path",
            "description": "date",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": 20200315
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/admin/checkIn/histories/{startDate}": {
      "get": {
        "tags": [
          "admin_checkIn"
        ],
        "summary": "All members' Check in history from startDate(inclusive) to latest",
        "parameters": [
          {
            "name": "startDate",
            "in": "path",
            "description": "start date inclusive",
            "required": true,
            "example": "20200220",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": [
                  {
                    "branchId": "5e4024b000653065cc851f8f",
                    "branchName": "NC 2",
                    "memberId": "123",
                    "memberName": "Noone",
                    "memberType": "NORMAL",
                    "contactNumber": "12345678910",
                    "checkInTime": "20200225230516",
                    "checkInDate": "20200225"
                  },
                  {
                    "branchId": "5e6e38305653854644c1fa72",
                    "branchName": "NC 1",
                    "memberId": "234",
                    "memberName": "Paul Smith",
                    "memberType": "NORMAL",
                    "contactNumber": "12345678911",
                    "checkInTime": "20200322210216",
                    "checkInDate": "20200322"
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/admin/checkIn/histories/{startDate}/{endDate}": {
      "get": {
        "tags": [
          "admin_checkIn"
        ],
        "summary": "All members' Check in history from startDate(inclusive) to endDate(exclusive)",
        "parameters": [
          {
            "name": "startDate",
            "in": "path",
            "description": "start date inclusive",
            "required": true,
            "example": "20200220",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "endDate",
            "in": "path",
            "description": "start date exclusive",
            "required": true,
            "example": "20200301",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": [
                  {
                    "branchId": "5e4024b000653065cc851f8f",
                    "branchName": "NC 2",
                    "memberId": "123",
                    "memberName": "Noone",
                    "memberType": "NORMAL",
                    "checkInTime": "20200225230516",
                    "checkInDate": "20200225"
                  },
                  {
                    "branchId": "5e6e38305653854644c1fa72",
                    "branchName": "NC 1",
                    "memberId": "234",
                    "memberName": "Paul Smith",
                    "memberType": "NORMAL",
                    "checkInTime": "20200322210216",
                    "checkInDate": "20200322"
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/admin/checkIn/histories/download": {
      "get": {
        "tags": [
          "admin_checkIn"
        ],
        "summary": "admin - Downlaod all members' Check in history csv",
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "text/csv": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/admin/notification/": {
      "post": {
        "tags": [
          "admin_notification"
        ],
        "summary": "Admin - Add notification",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "title": "11 / 15 闭馆通知 （11.17 – 11.19",
                "detail": "由于更换线路需要，nc1.0将在11.17 – 11.19闭馆维护"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/login": {
      "post": {
        "tags": [
          "login"
        ],
        "summary": "Login with wx code",
        "operationId": "login",
        "requestBody": {
          "description": "Login with wx code",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WXInfo"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "successful login",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Member"
                },
                "examples": {
                  "NormalMember": {
                    "value": {
                      "memberType": "NORMAL",
                      "memberDetail": {
                        "memberType": "NORMAL",
                        "remainingEntries": 10
                      }
                    }
                  },
                  "YearlyMember": {
                    "value": {
                      "memberType": "YEARLY",
                      "memberDetail": {
                        "memberType": "YEARLY",
                        "expiryDate": "20210228"
                      }
                    }
                  },
                  "MonthlyMember": {
                    "value": {
                      "memberType": "MONTHLY",
                      "memberDetail": {
                        "memberType": "MONTHLY",
                        "expiryDate": "20210228"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "error thrown when calling WX api",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/api/member/info": {
      "get": {
        "tags": [
          "member"
        ],
        "summary": "Get member info",
        "operationId": "member info",
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Member"
                },
                "examples": {
                  "NormalMember": {
                    "value": {
                      "memberType": "NORMAL",
                      "memberDetail": {
                        "memberType": "NORMAL",
                        "remainingEntries": 1
                      }
                    }
                  },
                  "MultiEntriesMember": {
                    "value": {
                      "memberType": "MULTI_ENTRIES",
                      "memberDetail": {
                        "memberType": "MULTI_ENTRIES",
                        "usedEntries": 1,
                        "totalEntries": 10,
                        "validFrom": "20200101",
                        "validUntil": "20200301"
                      }
                    }
                  },
                  "YearlyMember": {
                    "value": {
                      "memberType": "YEARLY",
                      "memberDetail": {
                        "memberType": "YEARLY",
                        "validFrom": "20200101",
                        "validUntil": "20201231"
                      }
                    }
                  },
                  "MonthlyMember": {
                    "value": {
                      "memberType": "MONTHLY",
                      "memberDetail": {
                        "memberType": "MONTHLY",
                        "validFrom": "20200101",
                        "validUntil": "20200131"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/product/all": {
      "get": {
        "tags": [
          "product"
        ],
        "summary": "All nerdcave products",
        "operationId": "allProducts",
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Produt"
                  }
                },
                "examples": {
                  "MULTI_ENTRIES_FEE": {
                    "value": {
                      "id": "123",
                      "productType": "MULTI_ENTRIES_FEE",
                      "detail": {
                        "productType": "MULTI_ENTRIES_FEE",
                        "entries": "10,",
                        "validMonths": 3
                      },
                      "description": "Product-1 10 entries",
                      "regularPrice": 200,
                      "fee": 200,
                      "discounts": [],
                      "payViaWechat": false,
                      "enabled": true
                    }
                  },
                  "EQUIPMENT_RENTAL_FEE": {
                    "value": {
                      "id": "234",
                      "productType": "EQUIPMENT_RENTAL_FEE",
                      "detail": {
                        "productType": "EQUIPMENT_RENTAL_FEE"
                      },
                      "description": "Boot rentail",
                      "regularPrice": 1,
                      "fee": 1,
                      "discounts": [],
                      "payViaWechat": true,
                      "enabled": true
                    }
                  },
                  "MONTHLY_MEMBER_FEE": {
                    "value": {
                      "id": "456",
                      "productType": "MONTHLY_MEMBER_FEE",
                      "detail": {
                        "productType": "MONTHLY_MEMBER_FEE",
                        "months": 1
                      },
                      "description": "Product-2 1 month",
                      "regularPrice": 400,
                      "fee": 400,
                      "discounts": [],
                      "payViaWechat": false,
                      "enabled": true
                    }
                  },
                  "YEARLY_MEMBER_FEE": {
                    "value": {
                      "id": "789",
                      "productType": "YEARLY_MEMBER_FEE",
                      "detail": {
                        "productType": "YEARLY_MEMBER_FEE",
                        "years": 1
                      },
                      "description": "Product-3 1 year",
                      "regularPrice": 600,
                      "fee": 600,
                      "discounts": [],
                      "payViaWechat": false,
                      "enabled": true
                    }
                  },
                  "SINGLE_ENTRY_FEE": {
                    "value": {
                      "id": "890",
                      "productType": "SINGLE_ENTRY_FEE",
                      "detail": {
                        "productType": "SINGLE_ENTRY_FEE"
                      },
                      "description": "Single entry",
                      "regularPrice": 200,
                      "fee": 1,
                      "discounts": [
                        {
                          "discountType": "WEEK_DAY",
                          "description": "0.01 \"CNY weekday discount\"",
                          "detail": {
                            "discountType": "WEEK_DAY",
                            "salePrice": 1
                          }
                        }
                      ],
                      "payViaWechat": true,
                      "enabled": true
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/payment/placeOrder": {
      "post": {
        "tags": [
          "payment"
        ],
        "summary": "Place order",
        "description": "This can only be done by the logged in user.",
        "operationId": "placeOrder",
        "requestBody": {
          "description": "Place order",
          "content": {
            "*/*": {
              "schema": {
                "$ref": "#/components/schemas/WXOrder"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/api/payment/info/{paymentId}": {
      "get": {
        "tags": [
          "payment"
        ],
        "summary": "Fetch payment",
        "description": "This can only be done by the logged in user.",
        "operationId": "Fetch Payment",
        "parameters": [
          {
            "name": "paymentId",
            "in": "path",
            "description": "Payment Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/offlineorder/placeOrder": {
      "post": {
        "tags": [
          "offlineorder"
        ],
        "summary": "place offline order",
        "description": "This can only be done by the logged in user.",
        "operationId": "Place Offline Order",
        "requestBody": {
          "description": "Place order",
          "content": {
            "*/*": {
              "schema": {
                "$ref": "#/components/schemas/OfflineOrder"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/api/checkIn": {
      "post": {
        "tags": [
          "checkIn"
        ],
        "summary": "Member check in",
        "description": "用户一天只能打卡一次, 请先调用/checkIn/token查询",
        "operationId": "Member Check In",
        "requestBody": {
          "description": "打卡",
          "content": {
            "*/*": {
              "schema": {
                "$ref": "#/components/schemas/CheckInBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckInToken"
                },
                "example": {
                  "checkInNumber": "2021",
                  "hasEquipment": false
                }
              }
            }
          },
          "400": {
            "description": "No ticket"
          }
        }
      }
    },
    "/api/checkIn/token/{date}": {
      "get": {
        "tags": [
          "checkIn"
        ],
        "summary": "Check member check-in token",
        "description": "查询用户打卡号",
        "parameters": [
          {
            "name": "date",
            "in": "path",
            "description": "date",
            "required": true,
            "example": "20200220",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckInToken"
                },
                "example": {
                  "checkInNumber": "2021",
                  "hasEquipment": false
                }
              }
            }
          },
          "404": {
            "description": "not found"
          }
        }
      }
    },
    "/api/checkIn/history/{startDate}": {
      "get": {
        "tags": [
          "checkIn"
        ],
        "summary": "Member check in history from startDate(inclusive)",
        "description": "This can only be done by the logged in user.",
        "operationId": "Member Check In History",
        "parameters": [
          {
            "name": "startDate",
            "in": "path",
            "description": "start date inclusive",
            "required": true,
            "example": "20200220",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArrayOfDate"
                },
                "example": [
                  "20200227",
                  "20200228"
                ]
              }
            }
          }
        }
      }
    },
    "/api/checkIn/history/{startDate}/{endDate}": {
      "get": {
        "tags": [
          "checkIn"
        ],
        "summary": "Member check in history from startDate(inclusive) to endDate(exclusive)",
        "description": "This can only be done by the logged in user.",
        "operationId": "Member Check In History to endDate",
        "parameters": [
          {
            "name": "startDate",
            "in": "path",
            "description": "start date inclusive",
            "required": true,
            "example": "20200220",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "endDate",
            "in": "path",
            "description": "start date exclusive",
            "required": true,
            "example": "20200301",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArrayOfDate"
                },
                "example": [
                  "20200227",
                  "20200228"
                ]
              }
            }
          }
        }
      }
    },
    "/api/checkIn/ranking/{startDate}": {
      "get": {
        "tags": [
          "checkIn"
        ],
        "summary": "Member check in ranking from startDate(inclusive)",
        "description": "This can only be done by the logged in user.",
        "operationId": "Member Check In Ranking",
        "parameters": [
          {
            "name": "startDate",
            "in": "path",
            "description": "start date inclusive",
            "required": true,
            "example": "20200220",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "ranking": 1,
                  "totalMembers": 2
                }
              }
            }
          }
        }
      }
    },
    "/api/checkIn/ranking/{startDate}/{endDate}": {
      "get": {
        "tags": [
          "checkIn"
        ],
        "summary": "Member check in ranking from startDate(inclusive) to endDate(exclusive)",
        "description": "This can only be done by the logged in user.",
        "operationId": "Member Check In Ranking to end date",
        "parameters": [
          {
            "name": "startDate",
            "in": "path",
            "description": "start date inclusive",
            "required": true,
            "example": "20200220",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "endDate",
            "in": "path",
            "description": "start date exclusive",
            "required": true,
            "example": "20200301",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "ranking": 1,
                  "totalMembers": 2
                }
              }
            }
          }
        }
      }
    },
    "/api/checkIn/currentnumber/{branchId}": {
      "get": {
        "tags": [
          "checkIn"
        ],
        "summary": "当年门店人数",
        "parameters": [
          {
            "name": "branchId",
            "in": "path",
            "description": "门店ID",
            "required": true,
            "example": "123",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "count": 100
                }
              }
            }
          }
        }
      }
    },
    "/api/branch/all": {
      "get": {
        "tags": [
          "branch"
        ],
        "summary": "All nerdcave branches",
        "operationId": "allBranches",
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BranchClientInfo"
                }
              }
            }
          }
        }
      }
    },
    "/api/branch/{branchId}": {
      "get": {
        "tags": [
          "branch"
        ],
        "summary": "Get branch by id",
        "operationId": "branchById",
        "parameters": [
          {
            "name": "branchId",
            "in": "path",
            "description": "Branch Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BranchClientInfo"
                }
              }
            }
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/api/disclaimer/hasSigned": {
      "get": {
        "tags": [
          "disclaimer"
        ],
        "summary": "Check whether member has signed disclaimer",
        "operationId": "signed disclaimer",
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SignedBody"
                },
                "example": {
                  "signed": true
                }
              }
            }
          }
        }
      }
    },
    "/api/disclaimer/sign": {
      "post": {
        "tags": [
          "disclaimer"
        ],
        "requestBody": {
          "description": "打卡",
          "content": {
            "*/*": {
              "schema": {
                "$ref": "#/components/schemas/DisclaimerBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ok"
                },
                "example": {
                  "ok": true
                }
              }
            }
          }
        }
      }
    },
    "/api/holiday/isholiday/{date}": {
      "get": {
        "tags": [
          "holiday"
        ],
        "summary": "Check if a date is holdiday, including weekends",
        "operationId": "isHoliday",
        "parameters": [
          {
            "name": "date",
            "in": "path",
            "description": "Date to check",
            "required": true,
            "example": "20200501",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {
                "example": {
                  "isHoliday": true
                }
              }
            }
          }
        }
      }
    },
    "/api/notification/latest": {
      "get": {
        "tags": [
          "notification"
        ],
        "description": "latest notification",
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "title": "11 / 15 闭馆通知 （11.17 – 11.19",
                  "detail": "由于更换线路需要，nc1.0将在11.17 – 11.19闭馆维护",
                  "time": "20200322125136"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AdminLoginRequest": {
        "type": "object",
        "properties": {
          "username": {
            "type": "string"
          },
          "password": {
            "type": "string"
          }
        }
      },
      "AdminInfo": {
        "type": "object",
        "properties": {
          "nickname": {
            "type": "string"
          },
          "role": {
            "type": "string",
            "enum": [
              "SUPER_USER",
              "BRANCH_MAINTAINER"
            ]
          }
        }
      },
      "ApproveOfflineOrderRequest": {
        "type": "object",
        "properties": {
          "orderId": {
            "type": "string"
          }
        }
      },
      "ProductRequestBase": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "productType": {
            "type": "string",
            "enum": [
              "MULTI_ENTRIES_FEE",
              "MONTHLY_MEMBER_FEE",
              "YEARLY_MEMBER_FEE",
              "EQUIPMENT_RENTAL_FEE",
              "SINGLE_ENTRY_FEE"
            ]
          },
          "regularPrice": {
            "type": "integer"
          },
          "payViaWechat": {
            "type": "boolean"
          },
          "enabled": {
            "type": "boolean"
          },
          "discounts": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "MultiEntriesProductDetail": {
        "type": "object",
        "properties": {
          "entries": {
            "type": "integer"
          },
          "validMonths": {
            "type": "integer"
          }
        }
      },
      "MultiEntriesProduct": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ProductRequestBase"
          },
          {
            "type": "object",
            "properties": {
              "detail": {
                "$ref": "#/components/schemas/MultiEntriesProductDetail"
              }
            }
          }
        ]
      },
      "MonthlyMemberProductDetail": {
        "type": "object",
        "properties": {
          "months": {
            "type": "integer"
          }
        }
      },
      "MonthlyMemberProduct": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ProductRequestBase"
          },
          {
            "type": "object",
            "properties": {
              "detail": {
                "$ref": "#/components/schemas/MonthlyMemberProductDetail"
              }
            }
          }
        ]
      },
      "YearlyMemberProductDetail": {
        "type": "object",
        "properties": {
          "years": {
            "type": "integer"
          }
        }
      },
      "YearlyMemberProduct": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ProductRequestBase"
          },
          {
            "type": "object",
            "properties": {
              "detail": {
                "$ref": "#/components/schemas/YearlyMemberProductDetail"
              }
            }
          }
        ]
      },
      "EquipmentRentalProductDetail": {
        "type": "object"
      },
      "EquipmentRentalProduct": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ProductRequestBase"
          },
          {
            "type": "object",
            "properties": {
              "detail": {
                "$ref": "#/components/schemas/EquipmentRentalProductDetail"
              }
            }
          }
        ]
      },
      "SingleEntryProductDetail": {
        "type": "object"
      },
      "SingleEntryProduct": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ProductRequestBase"
          },
          {
            "type": "object",
            "properties": {
              "detail": {
                "$ref": "#/components/schemas/SingleEntryProductDetail"
              }
            }
          }
        ]
      },
      "Id": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          }
        },
        "required": [
          "id"
        ]
      },
      "ProductDiscount": {
        "type": "object",
        "properties": {
          "discountType": {
            "type": "string",
            "enum": [
              "WEEK_DAY"
            ]
          },
          "description": {
            "type": "string"
          },
          "detail": {
            "type": "object"
          }
        }
      },
      "Produt": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "productType": {
            "type": "string",
            "enum": [
              "MULTI_ENTRIES_FEE",
              "MONTHLY_MEMBER_FEE",
              "YEARLY_MEMBER_FEE",
              "SINGLE_ENTRY_FEE",
              "EQUIPMENT_RENTAL_FEE"
            ]
          },
          "detail": {
            "type": "object"
          },
          "shortDescription": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "discounts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ProductDiscount"
            }
          }
        }
      },
      "OfflineOrder": {
        "type": "object",
        "properties": {
          "branchId": {
            "type": "string"
          },
          "productId": {
            "type": "string"
          }
        }
      },
      "WXOrder": {
        "type": "object",
        "properties": {
          "branchId": {
            "type": "string"
          },
          "products": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "WXInfo": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "nickName": {
            "type": "string"
          },
          "gender": {
            "type": "integer"
          }
        }
      },
      "Member": {
        "type": "object",
        "properties": {
          "memberType": {
            "type": "string",
            "enum": [
              "NORMAL",
              "MONTHLY",
              "YEARLY"
            ]
          },
          "memberDetail": {
            "type": "object",
            "properties": {}
          }
        }
      },
      "Location": {
        "type": "object",
        "properties": {
          "longitude": {
            "type": "number"
          },
          "latitude": {
            "type": "number"
          },
          "description": {
            "type": "string"
          }
        },
        "required": [
          "longitude",
          "latitude",
          "description"
        ]
      },
      "OpenHour": {
        "type": "object",
        "properties": {
          "openTime": {
            "type": "string",
            "format": "HHmmss"
          },
          "closeTime": {
            "type": "string",
            "format": "HHmmss"
          },
          "description": {
            "type": "string"
          }
        },
        "required": [
          "openTime",
          "closeTime",
          "description"
        ]
      },
      "BranchClientInfo": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "No need for branch creation"
          },
          "name": {
            "type": "string"
          },
          "location": {
            "$ref": "#/components/schemas/Location"
          },
          "weekdayOpenHour": {
            "$ref": "#/components/schemas/OpenHour"
          },
          "weekendOpenHour": {
            "$ref": "#/components/schemas/OpenHour"
          },
          "contactNumbers": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "description": {
            "type": "string"
          },
          "isOpen": {
            "type": "boolean"
          }
        }
      },
      "Branch": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "No need for branch creation"
          },
          "location": {
            "$ref": "#/components/schemas/Location"
          },
          "openHour": {
            "$ref": "#/components/schemas/OpenHour"
          },
          "contactNumbers": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "description": {
            "type": "string"
          }
        },
        "required": [
          "location",
          "openHour",
          "contactNumbers",
          "description"
        ]
      },
      "Error": {
        "type": "object",
        "properties": {
          "msg": {
            "type": "string"
          }
        }
      },
      "CheckInToken": {
        "type": "object",
        "properties": {
          "checkInNumber": {
            "type": "string"
          },
          "hasEquipment": {
            "type": "boolean"
          }
        }
      },
      "ArrayOfDate": {
        "type": "array",
        "items": {
          "type": "string"
        }
      },
      "CheckInBody": {
        "type": "object",
        "properties": {
          "branchId": {
            "type": "string"
          }
        }
      },
      "Ok": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean"
          }
        }
      },
      "SignedBody": {
        "type": "object",
        "properties": {
          "signed": {
            "type": "boolean"
          }
        }
      },
      "DisclaimerBody": {
        "type": "object",
        "properties": {
          "legalName": {
            "type": "string"
          },
          "contactNumber": {
            "type": "string"
          },
          "emergentContactNumber": {
            "type": "string"
          }
        }
      }
    }
  }
}