openapi: 3.0.1
info:
  title: Nerdcave API
  description: ""
  version: 1.0.0
externalDocs:
  description: Find out more about Swagger
  url: http://swagger.io
servers:
- url: https://www.nerdcave.club/api
- url: http://www.nerdcave.club/api
tags:
- name: login
  description: Login operation
- name: product
  description: nerdcave product
- name: payment
  description: wechat payment
paths:
  /login:
    post:
      tags:
      - login
      summary: Login with wx code
      operationId: login
      requestBody:
        description: Login with wx code
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WXCode'
        required: true
      responses:
        '200':
          description: successful login
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Member'
        '400':
          description: error thrown when calling WX api
          content:
            text/plain:
              schema:
                type: string
      x-codegen-request-body-name: body
  /product/all:
    get:
      tags:
      - product
      summary: All nerdcave products
      operationId: allProducts
      responses:
        '200':
           description: ok
           content:
             application/json:
              schema:
                type: object
      
  /payment/placeOrder:
    post:
      tags:
      - payment
      summary: Place order
      description: This can only be done by the logged in user.
      operationId: placeOrder
      requestBody:
        description: Place order
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/Products'
        required: true
      responses:
        '200':
           description: ok
           content:
            application/json:
              schema:
                type: object
      x-codegen-request-body-name: body
      
  /payment/{paymentId}:
    get: 
      tags:
      - payment
      summary: Fetch payment
      description: This can only be done by the logged in user.
      operationId: Fetch Payment
      parameters:
      - name: paymentId
        in: path
        description: Payment Id
        required: true
        schema:
          type: string
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                type: object
        
components:
  schemas:
    User:
      type: object
      properties:
        id:
          type: integer
          format: int64
        username:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        email:
          type: string
        password:
          type: string
        phone:
          type: string
        userStatus:
          type: integer
          description: User Status
          format: int32
      xml:
        name: User
    Products:
      type: object
      properties:
        products:
          type: array
          items:
            type: string
    WXCode:
      type: object
      properties:
        code:
          type: string
    Member:
      type: object
      properties:
        memberType:
          type: string
        memberDetail:
          type: object
          properties: {}
    Error:
      type: object
      properties:
        msg:
          type: string
